@import 'reset';

@import 'components/header';
@import 'components/navigation';
@import 'components/contact';
@import 'components/footer';

@import 'pages/home';
@import 'pages/about';
@import 'pages/skills';
@import 'pages/projects';
@import 'pages/blog';
@import 'pages/contact';

$bgColor: #ccc;

html,
body {
  height: 100%;
  background: $bgColor;
}
.layout {
  height: 100%;
  //background: url('../img/foo2.jpeg') center center repeat;
  //background: url('../assets/svg/logo-test.svg') center center repeat;

  border: 1px solid black;
}

nav {
  border: 1px solid red;
}
.scene {
  border: 1px solid orange;
}
.stage {
  background:rgba(0,255,0,0.1);
}
